.recipe-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h5 {
    font-size: 18px;
}

.recipe-ingredient {
    width:171px;
    height: 105px;
    padding: 0;
}

a {
    width:380px;
    height: 364px;
    margin-bottom: 45px;
    text-decoration: none;
    color: black;
}

.card {
    width:380px;
}

.card-img-top {
    background-color: #C7BEBE;
    height: 178px;
}

.card-body {
    height: 186px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredient {
    list-style-type: none;
  }