.recipe-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h5 {
    font-size: 18px;
}

.recipe-ingredient {
    width:171px;
    height: 105px;
    padding: 0;
}

a {
    width:380px;
    height: 364px;
    margin-bottom: 45px;
    text-decoration: none;
    color: black;
}

.card {
    width:380px;
}

.card-img-top {
    background-color: #C7BEBE;
    height: 178px;
}

.card-body {
    height: 186px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredient {
    list-style-type: none;
  }

.dropdown-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dropdown-menu {
    top:69px;
}
.dropdown-item {
    height:auto;
    margin-bottom: 0;
}

.select {
    margin-right: 5px;
}

.btn-group {
    margin-right:20px;
}

.label {
    width: 170px;
    height:69px;
    display: inline-block;
    position: relative;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-block:22px;
    padding-left: 22px;
}

#appliance-label, #appliance-input, .appliance-tag {
    background: #68D9A4;
}

#ustensil-label, #ustensil-input, .ustensil-tag {
    background: #ED6454;
}

.appliance-name, .ustensil-name {
    margin-right: 13px;
}

.tag, .bi {
    color:white;
}

.bi-chevron-down {
    margin-left:40px;
    font-weight: bold;
}